{% extends "attendance_app/control_panel.html" %}

{% block content %}

    <h2 class="attendance_dashboard_h2 font-family-overall">Attendances</h2>

    <div id="attendanceModal" class="modal" style="display: none;">
        <span id="closeModalBtn" class="close">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#fff"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </span>

        <div class="modal-content">
            <h2 style="text-align: center" class="font-family-overall">New Attendance</h2>

            <form method="post" action="{% url 'attendance_app:add_event' %}" class="form-container">
                {% csrf_token %}
                <label for="device">Select Device for Event</label>
                <select class="select-course-dropdown" id="device" name="device" required>
                    {% for device in devices %}
                        <option value="{{ device.id }}">{{ device.name }}</option>
                    {% endfor %}
                </select>

                <label for="courses">Select Courses for Event</label>
                <select class="select-course-dropdown" id="courses" name="courses" multiple required>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}
                </select>

                {{ form.as_p }}
                
                <button type="submit">ADD</button>
            </form>
        </div>
    </div>
    
    <table id="eventTable" class="content-table">
        <thead>
            <tr>
                <th data-title="Status">Status</th>
                <th data-title="Courses Allowed">Courses Allowed</th>
                <th data-title="Event">Event</th>
                <th data-title="Organizer">Organizer</th>
                <th data-title="Date">Date</th>
                <th data-title="Time">Time</th>
                <th data-title="Device">Devices</th>
                <th data-title="Action">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td data-title="Status" class="{% if event.status %}green-cells{% else %}red-cells{% endif %}">
                    {% if event.start_time <= curr_time and event.stop_time >= curr_time and curr_date == event.date_added %}
                    {% if event.status %}
                    Enabled
                    {% else %}
                    Disabled
                    {% endif %}
                    {% else %}
                    Deadline
                    {% endif %}
                </td>
                <td data-title="Courses Allowed">
                    {% for course in event.courses.all %}
                        {{ course.name }}
                    {% endfor %}
                </td>
                <td data-title="Event">{{event.name}}</td>
                <td data-title="Organizer">{{event.instructor}}</td>
                <td data-title="Date">{{event.date_added}}</td>
                <td data-title="Time">{{event.start_time}} - {{event.stop_time}}</td>
                <td data-title="Device">{{event.device}}</td>
                <td data-title="Action" >
                    <div class="events-action-button-container">
                        <button onclick="window.location.href='{% url 'attendance_app:attendance_for_today' event.id %}'" class="view-button" style="grid-area: box-1">
                            <i class="fa fa-eye" style="font-size:16px"></i>
                        </button>
                        {% if event.start_time <= curr_time and event.stop_time >= curr_time and curr_date == event.date_added %}
                        {% if not event.status %}
                        <button onclick="window.location.href='{% url 'attendance_app:change_status' event.id %}'" class="enable-button" style="grid-area: box-2">Enable</button>
                        {% else %}
                        <button onclick="window.location.href='{% url 'attendance_app:change_status' event.id %}'" class="disable-button"  style="grid-area: box-2">Disable</button>
                        {% endif %}
                        {% else %}
                        {% endif %}
                        <button onclick="window.location.href='{% url 'attendance_app:delete_event' event.id %}'" class="red-button" style="grid-area: box-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            {% empty %}
            <!--<tr>-->
                <!-- <td colspan="7">No attendance records available.</td> -->
            <!-- </tr>-->
            {% endfor %}
        </tbody>
    </table>

    <p class="open-modal-btn">
        <button id="openModalBtn">Add Attendance</button>
    </p>

    {% load static %}

    <script src="{% static 'attendance_app/js/modal.js' %}"></script>
   
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function() {
        $('#eventTable').DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable search bar
            ordering: true, // Enable column sorting
            pageLength: 10, // Set number of rows per page
            lengthMenu: [5, 10, 25, 50], // Define page length options
        });
    });
    </script>
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#courses").select2({
                placeholder: "Select courses...",
                closeOnSelect: false, // Keep dropdown open
                allowClear: true,
                width: "100%",
                theme: "classic"
            });
        });
    </script>

    

{% endblock content %}
